body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin-left: 2em;
    margin-right: 2em;
}
h1 {
    color: teal;
}
label {
    float: left;
    width: 10em;
    margin-bottom: 0.5em;
}
label.inline-label {
    float: none;      /* Bỏ float */
    width: auto;      /* Chiều rộng tự động theo nội dung */
    margin-right: 0.5em; /* Thêm chút khoảng cách với select box */
}

input[type="text"], input[type="email"] , input[type="date"]{
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
br {
    clear: both;
}
#submit {
    margin-top: 2em;
}
